@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

header {
    height: 1161px;
    background: url('img/designer_1.svg') no-repeat;
    background-position : right bottom 50px;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display : flex;
    list-style: none;
    width : 255px;
    justify-content: space-between;
}
nav ul li a {
    text-decoration : none ;
    color : #37447E;
}

.logo {
    text-align : center;
}

.logo h1 {
    color : #37447E;
    font-size : 26px;
}

.buy-btn {
    text-align : center;
    width : 160px;
    background : #111B47;
    height : 26px;
    border-radius : 2px ;
    display : flex;
    align-items : center ;
    justify-content : center ;
}

.buy-btn a {
    color : white;
    font-size : 12px ;
    text-decoration : none;
    display : inline-block;
}

.box-info {
    margin-top : 250px;
    width : 540px ;
}

.header-info h1 {
    font-size : 50px;
}

.header-content p {
    font-size : 18px ;
    color : #505F98 ; 
    margin-top : 30px ;
    line-height : 30px;
}

.btn-contain {
    display : flex ;
    margin-top : 65px;
}
.btn-contain a {
    display : inline-block ;
}

.Purchase {
    background : #111B47;
    color : white;
    text-decoration : none;
    text-align : center;
    width : 189px;
    height : 36px;
    border-radius : 2px ;
    padding : .5rem 1.5rem;
    margin-right : 30px ;
    font-size : 16px ;
}

.Learn {
    text-decoration : none;
    color : #111B47;
    border : 2px solid #091133;
    border-radius : 2px ;
    padding : .5rem 3.2rem;
    width : 189px;
    height : 36px;
    font-size : 16px ;
}


.details {
    background-color: white;
}

.details-con {
    display : flex;
    background: space-between;
}

.details-info {
    margin-top: 160px;
    width: 540px;
}

.details-title h2 {
    font-size : 36px ;
    margin-bottom: 2rem ;
    color: #091133
}

.details-p {
    font-size : 16px ;
    color : #6F7CB2;
    line-height: 20px;
}

.details-box {
    margin-top: 80px;
    display : flex ;
    justify-content: space-between;
}

.details-item {
    width : 255px;

}

.details-item h3 {
    color : #091133;
    font-size : 16px;
    margin: .5rem 0;

}

.details-item p {
    font-size : 12px;
    color : #5D6970 ;
    line-height: 18px;
}

.details-img {
    width : 540px;
}

.details-img img {
    width: 100%;
    margin-top: 100px;
}
.powerful {
    background-color: white;
    border-bottom-left-radius: 100% 100px;
    border-bottom-right-radius: 100% 100px;
    z-index: 99;
    position: relative;
}

.powerful-con {
    display : flex;
    justify-content: space-between;
    height: 570px;
    align-items: center;
}

.powerful-info {
    margin-top: 160px;
    width: 445px;
}

.powerful-img img {
    width: 100%;
    margin-top: 100px;
}

.powerful-btn {
    margin-top: 40px;
    background-color: #111B47;
    width: 150px;
    height: 32px;
    border-radius: 2px ;
    display: flex;
    padding: 0.5rem 1.8rem;
}

.powerful-btn a {
    font-size: 14px ;
    color: white;
    text-decoration: none;
}

.last {
    height: 800px;
    background-color: #E7ECFF;
    margin-top: -4rem;
    padding : 10rem 0rem;
    display : flex ;
    align-items: center;
}

.last-box {
    width: 600px;
    text-align: center;
}

.last-box h1 {
    font-size: 36px;
    color: #091133;
    margin-bottom: 1rem;
}

.last-box p {
    font-size: 16px;
    color: #6F7CB2;
}
.price {
    margin: 3rem 0rem;
}

.price h1{
    margin-top: 40px;
    font-size: 50px;
    color: #222F65;
    text-align: center;
}

.price h2 {
    display: block;
    font-size: 16px;
    color: #37447E;
    text-align: center;
    line-height: 26px;
    font-weight: 400;
}
.price-btn {
    text-align: center;
}

.price-btn p {
    color: #5D6970;
    font-size: 14px;
    text-align: center;
}

.price-btn a {
    display: inline-block;
    background-color: #111B47;
    width: 189px;
    height: 32px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    padding: .5rem 3rem;
}
nav p {
    color: #939EA4;
    font-size: 14px;
}

.standing {
    height: 220px;
    background-color: #c7d0f1
}

.standing-con {
    height: 140px;
    justify-content: space-between;
    border-bottom: 2px solid #CDD1D4 ;
    padding : 5rem 0rem;
}

.buy-btn-last {
    text-align : center;
    width : 109px;
    background : #111B47;
    height : 26px;
    border-radius : 2px ;
    display : flex;
    align-items : center ;
    justify-content : center ;
}

.buy-btn-last a {

        color : white;
        font-size : 12px ;
        text-decoration : none;
        display : inline-block;
}

.btn-last {
    font-size: 14px;
    color: #929ECC;
}

.social li a {
    color: #B0B8BC;
}